GS SPRINT/nodered_flow_gs.json
[
  {
    "id": "c77ef4efe7977d27",
    "type": "tab",
    "label": "Plataforma de Lancamento",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker_gs",
    "type": "mqtt-broker",
    "name": "HiveMQ Cloud",
    "broker": "c953dbdae4014640a08a724d356458e7.s1.eu.hivemq.cloud",
    "port": "8883",
    "tls": true,
    "clientid": "nodered-plt01",
    "autoConnect": true,
    "usetls": true,
    "verifyservercert": false,
    "protocolVersion": 4,
    "keepalive": 15,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "", "birthQos": "0", "birthPayload": "", "birthMsg": {},
    "closeTopic": "", "closePayload": "", "closeMsg": {},
    "willTopic": "", "willQos": "0", "willPayload": "", "willMsg": {},
    "userProps": "", "sessionExpiry": "",
    "credentials": {
      "user": "hivemq.webclient.1780003363284",
      "password": "z3h1?pdOC#9Ii>QW!6rX"
    }
  },
  {
    "id": "812e66a0badb72bf",
    "type": "influxdb",
    "hostname": "us-east-1-1.aws.cloud2.influxdata.com",
    "port": "443",
    "protocol": "https",
    "database": "plataforma_espacial",
    "name": "InfluxDB Cloud",
    "usetls": true,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "https://us-east-1-1.aws.cloud2.influxdata.com",
    "timeout": "10",
    "rejectUnauthorized": true
  },
  {
    "id": "telegram_bot_config",
    "type": "telegram bot",
    "botname": "PlataformaEspacialBot",
    "usernames": "",
    "chatids": "",
    "baseapiurl": "",
    "updatemode": "polling",
    "pollinterval": "300",
    "credentials": {
      "token": "SEU_TOKEN_AQUI"
    }
  },
  {
    "id": "ui_tab_gs",
    "type": "ui_tab",
    "name": "Plataforma Espacial",
    "icon": "rocket",
    "disabled": false,
    "hidden": false
  },
  {
    "id": "ui_group_status",
    "type": "ui_group",
    "name": "Status Geral",
    "tab": "ui_tab_gs",
    "order": 1,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_sensors",
    "type": "ui_group",
    "name": "Sensores",
    "tab": "ui_tab_gs",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "ui_group_chart",
    "type": "ui_group",
    "name": "Historico Temperatura",
    "tab": "ui_tab_gs",
    "order": 3,
    "disp": true,
    "width": "12",
    "collapse": false
  },
  {
    "id": "b05ad648bb1e098e",
    "type": "mqtt in",
    "z": "c77ef4efe7977d27",
    "name": "Telemetria",
    "topic": "fiap/iot/lancamento/PLT-01/telemetria",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker_gs",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 120,
    "y": 100,
    "wires": [["30d4708ceae23d6a", "9390999c79faaa95", "33c079975974f075"]]
  },
  {
    "id": "75c17746290d1a85",
    "type": "mqtt in",
    "z": "c77ef4efe7977d27",
    "name": "Alerta",
    "topic": "fiap/iot/lancamento/PLT-01/alerta",
    "qos": "1",
    "datatype": "json",
    "broker": "mqtt_broker_gs",
    "inputs": 0,
    "x": 90,
    "y": 340,
    "wires": [["fb09019d3406fbcd", "3d0e6af133e4e0d1", "33c079975974f075"]]
  },
  {
    "id": "30d4708ceae23d6a",
    "type": "function",
    "z": "c77ef4efe7977d27",
    "name": "Distribuir Dados",
    "func": "var d = msg.payload;\nvar m = d.medicoes || {};\nreturn [\n  { payload: d.estado },\n  { payload: m.temperatura || 0 },\n  { payload: m.umidade || 0 },\n  { payload: m.gas_pct || 0 },\n  { payload: m.distancia_cm || 999 },\n  { payload: { labels: [new Date().toLocaleTimeString()], series: ['Temperatura'], data: [[m.temperatura || 0]] } }\n];",
    "outputs": 6,
    "x": 360,
    "y": 60,
    "wires": [
      ["0e082d42181273c5"],
      ["016b24093323f379"],
      ["cbd45eeb4cc17f01"],
      ["5b3f34951a09ed54"],
      ["309a256473a3a110"],
      ["7ac3d8a2d94bb36f"]
    ]
  },
  {
    "id": "9390999c79faaa95",
    "type": "function",
    "z": "c77ef4efe7977d27",
    "name": "Formatar para InfluxDB",
    "func": "var d = msg.payload;\nvar m = d.medicoes || {};\nmsg.payload = [\n  {\n    measurement: 'telemetria',\n    tags: {\n      tag:    d.tag    || 'PLT-01',\n      estado: d.estado || 'LIVRE',\n      motivo: d.motivo || 'NORMAL'\n    },\n    fields: {\n      temperatura:   parseFloat(m.temperatura)   || 0,\n      umidade:       parseFloat(m.umidade)       || 0,\n      gas_pct:       parseFloat(m.gas_pct)       || 0,\n      distancia_cm:  parseFloat(m.distancia_cm)  || 0,\n      gas_alarme:    m.gas_alarme ? 1 : 0,\n      intruso:       m.intruso    ? 1 : 0\n    },\n    timestamp: new Date()\n  }\n];\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 160,
    "wires": [["5967e95e29e546e6"]]
  },
  {
    "id": "3d0e6af133e4e0d1",
    "type": "function",
    "z": "c77ef4efe7977d27",
    "name": "Formatar Alerta InfluxDB",
    "func": "var d = msg.payload;\nvar m = d.medicoes || {};\nmsg.payload = [\n  {\n    measurement: 'alertas',\n    tags: {\n      tag:    d.tag    || 'PLT-01',\n      estado: d.estado || 'PERIGO',\n      motivo: d.motivo || 'DESCONHECIDO'\n    },\n    fields: {\n      temperatura:  parseFloat(m.temperatura)  || 0,\n      umidade:      parseFloat(m.umidade)      || 0,\n      gas_pct:      parseFloat(m.gas_pct)      || 0,\n      distancia_cm: parseFloat(m.distancia_cm) || 0,\n      ocorrencia:   1\n    },\n    timestamp: new Date()\n  }\n];\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 380,
    "wires": [["5967e95e29e546e6"]]
  },
  {
    "id": "5967e95e29e546e6",
    "type": "influxdb out",
    "z": "c77ef4efe7977d27",
    "influxdb": "812e66a0badb72bf",
    "name": "Salvar no InfluxDB",
    "measurement": "",
    "precision": "ms",
    "retentionPolicy": "",
    "precisionV18FluxV20": "ms",
    "org": "vubvrbuvbruvr",
    "bucket": "plataforma_espacial",
    "x": 630,
    "y": 260,
    "wires": []
  },
  {
    "id": "fb09019d3406fbcd",
    "type": "function",
    "z": "c77ef4efe7977d27",
    "name": "Formatar Telegram",
    "func": "var d = msg.payload;\nvar m = d.medicoes || {};\nvar emoji = d.estado === 'CRITICO' ? '🚨' : '⚠️';\nvar texto = emoji + ' *ALERTA — PLATAFORMA ESPACIAL*\\n';\ntexto += '📍 ' + (d.local || 'PLT-01') + '\\n';\ntexto += '🔴 Estado: *' + d.estado + '*\\n';\ntexto += '⚡ Motivo: *' + (d.motivo || '--') + '*\\n\\n';\ntexto += '🌡️ Temp: ' + (m.temperatura || '--') + ' °C\\n';\ntexto += '💨 Gás: ' + (m.gas_pct || '--') + '%\\n';\ntexto += '📏 Distância: ' + (m.distancia_cm || '--') + ' cm\\n';\ntexto += '⏰ ' + new Date().toLocaleString('pt-BR');\nmsg.payload = { chatId: 'SEU_CHAT_ID_AQUI', type: 'message', content: texto, options: { parse_mode: 'Markdown' } };\nreturn msg;",
    "outputs": 1,
    "x": 360,
    "y": 460,
    "wires": [["bcac73476e167dc3"]]
  },
  {
    "id": "bcac73476e167dc3",
    "type": "telegram sender",
    "z": "c77ef4efe7977d27",
    "name": "Telegram Alerta",
    "bot": "telegram_bot_config",
    "x": 600,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "0e082d42181273c5",
    "type": "ui_text",
    "z": "c77ef4efe7977d27",
    "group": "ui_group_status",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Estado",
    "label": "Estado da Plataforma",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 600,
    "y": 20,
    "wires": []
  },
  {
    "id": "016b24093323f379",
    "type": "ui_gauge",
    "z": "c77ef4efe7977d27",
    "name": "Temperatura",
    "group": "ui_group_sensors",
    "order": 1,
    "width": "3",
    "height": "3",
    "label": "Temperatura",
    "format": "{{value}} °C",
    "min": 0,
    "max": 60,
    "colors": ["#00cc44", "#ffcc00", "#cc0000"],
    "seg1": 30,
    "seg2": 40,
    "x": 600,
    "y": 60,
    "wires": []
  },
  {
    "id": "cbd45eeb4cc17f01",
    "type": "ui_gauge",
    "z": "c77ef4efe7977d27",
    "name": "Umidade",
    "group": "ui_group_sensors",
    "order": 2,
    "width": "3",
    "height": "3",
    "label": "Umidade",
    "format": "{{value}} %",
    "min": 0,
    "max": 100,
    "colors": ["#cc0000", "#ffcc00", "#00cc44"],
    "seg1": 20,
    "seg2": 40,
    "x": 600,
    "y": 100,
    "wires": []
  },
  {
    "id": "5b3f34951a09ed54",
    "type": "ui_gauge",
    "z": "c77ef4efe7977d27",
    "name": "Gas",
    "group": "ui_group_sensors",
    "order": 3,
    "width": "3",
    "height": "3",
    "label": "Concentracao Gas",
    "format": "{{value}} %",
    "min": 0,
    "max": 100,
    "colors": ["#00cc44", "#ffcc00", "#cc0000"],
    "seg1": 30,
    "seg2": 45,
    "x": 600,
    "y": 140,
    "wires": []
  },
  {
    "id": "309a256473a3a110",
    "type": "ui_text",
    "z": "c77ef4efe7977d27",
    "group": "ui_group_sensors",
    "order": 4,
    "width": "3",
    "height": "1",
    "name": "Distancia",
    "label": "Distância Zona de Exclusão",
    "format": "{{msg.payload}} cm",
    "layout": "row-spread",
    "x": 600,
    "y": 180,
    "wires": []
  },
  {
    "id": "7ac3d8a2d94bb36f",
    "type": "ui_chart",
    "z": "c77ef4efe7977d27",
    "name": "Grafico Temperatura",
    "group": "ui_group_chart",
    "order": 1,
    "width": "12",
    "height": "4",
    "label": "Temperatura ao Longo do Tempo",
    "chartType": "line",
    "legend": false,
    "xformat": "HH:mm:ss",
    "interpolate": "linear",
    "nodata": "Aguardando dados...",
    "ymin": "0",
    "ymax": "60",
    "removeOlder": "10",
    "removeOlderUnit": "60",
    "outputs": 1,
    "x": 600,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "33c079975974f075",
    "type": "debug",
    "z": "c77ef4efe7977d27",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 340,
    "wires": []
  }
]
